﻿@{
    ViewBag.Title = "Index";
}


<h1 class="site-name">Parse And Format</h1>


<form id="demo">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-asterisk"></span>
                <input type="text" class="input-lg form-control" id="fullName" name="FullName" placeholder="Enter full name with prefixes and suffixes" required="required" tabindex="1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-push-9">
            <input type="text" class="form-control" id="preferredName" name="PreferredName" placeholder="Preferred name" tabindex="3">
            <span class="help-block">
                Enter if you have a name you'd prefer to use instead of your given name(s).
            </span>
        </div>
         <div class="col-sm-9 col-sm-pull-3">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-asterisk"></span>
                <input type="text" class="form-control" id="format" name="Format" placeholder="Enter format" required="required" tabindex="2">
            </div>
            <span class="help-block" id="spikker">
                Enter format as blocks of <strong>{Xx}m:n</strong>, where<br />
                <strong>X</strong> - <strong>G</strong> (given name) | <strong>F</strong> (family name) | <strong>P</strong> (prefixes) | <strong>S</strong> (suffixes)<br />
                <strong><em>m</em></strong> - how many parts to skip from beginning (optional), <strong><em>n</em></strong> - how many parts to show (optional, number or * for all)<br />
                <strong>xx</strong> - lowercase | <strong>XX</strong> - uppercase | <strong>Xx</strong> - case as entered<br />
                Marks inside brackets are repeated for every matched element
            </span>
        </div>
       
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12 col-sm-offset-4">
            <button id="submit" type="submit" class="btn btn-custom btn-lg btn-block">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p id="formatted" class="well well-lg"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <pre id="result"></pre>
        </div>
    </div>
</form>


@*<form class="form-horizontal" id="demo">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="fullName">Full name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter name with titles and stuff">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="format">Output format</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="format" name="format" placeholder="given: {GG|G}n, family: {FF|F}n, prefixes: {PP|P}n, suffixes: {SS|S}n. Marks inside brackets are repeated for every matched element">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Result</label>
            <div class="col-sm-10">
                <pre id="result">&nbsp;</pre>
            </div>
        </div>
    </form>*@



