/*#CDB172;*/
/*#F5E259;*/
/*lighten(#705B35, 10%);*/
/*lighten(#999154, 10%);*/
/*#28BACC;*/
body {
  background-color: #cbb47f;
  margin-bottom: 40px;
}
.body-content {
  margin-bottom: 40px;
}
/* Changes to Bootstrap styles */
.table td {
  width: 50%;
}
.table thead > tr > th {
  border-bottom: 2px solid #c4a96d;
}
.table tbody > tr > td {
  border-top: 1px solid #c4a96d;
  padding: 10px;
}
.help-block {
  color: #4d4d4d;
}
/* Custom button color */
.btn-custom {
  color: #e8dec8;
  /*& when (lightness(@contrast) < 50%) {
        color: darken(#FFF, 20%);
    }*/
  background-color: #550226;
  border-color: #230110;
}
/* Custom styles */
.site-name {
  text-shadow: 1px 1px #6b002f, 2px 2px #800038;
  font: bold 5em/1.5 arial;
  color: #4d4d4d;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .site-name {
    font: bold 3em/1.5 arial;
    padding: 0 1em;
  }
}
/* Form */
#demo {
  padding-top: 3.5em;
}
#demo .row {
  margin-bottom: 2em;
}
#demo input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #a28542;
}
#demo input.input-lg {
  height: 4em;
}
#demo .input-group .glyphicon {
  top: 0;
  /*override*/
}
#demo .input-group .glyphicon.glyphicon-asterisk {
  color: #bc5b78;
}
#demo .input-group input {
  border-left: 0;
}
#demo .input-group-addon {
  border: 1px solid #a28542;
}
/* Formatted result */
#formatted {
  font-size: 3em;
  text-align: center;
  /*.solid-shadow(2px);*/
  border: 1px solid #570026;
  background-color: rgba(245, 245, 245, 0.7);
  box-shadow: 0 0 5px #570026 inset;
}
#formatted:empty {
  display: none;
}
/* Key-value pairs */
#result {
  border: 1px solid #a28542;
  background-color: rgba(245, 245, 245, 0.7);
}
#result:empty {
  display: none;
}
footer .copyright {
  color: #4d4d4d;
}
