﻿@background: #CBB47F; /*#CDB172;*/ /*#F5E259;*/
@border: darken(@background, 20%); /*lighten(#705B35, 10%);*/ /*lighten(#999154, 10%);*/
@contrast: #570026; /*#28BACC;*/
@result-bg: rgba(245, 245, 245, 0.7);
@dark-gray: lighten(#000, 30%);


.solid-shadow (@depth) when (@depth > 0) {
    .solid-shadow((@depth - 1));
    text-shadow +: @depth @depth lighten(@contrast, @depth*4);
}

body {
    background-color: @background;
    margin-bottom: 40px;
}

.body-content {
    margin-bottom: 40px;
}


/* Changes to Bootstrap styles */

.table {
    td {
        width: 50%;
    }

    thead > tr > th {
        border-bottom: 2px solid lighten(@border, 15%);
    }

    tbody > tr > td {
        border-top: 1px solid lighten(@border, 15%);
        padding: 10px;
    }
}

.help-block {
    color: @dark-gray;
}


/* Custom button color */

.btn-custom {
    color: lighten(@background, 20%);
    /*& when (lightness(@contrast) < 50%) {
        color: darken(#FFF, 20%);
    }*/
    background-color: desaturate(@contrast, 5%);
    border-color: darken(desaturate(@contrast, 5%), 10%);
}


/* Custom styles */

.site-name {
    .solid-shadow(2px);
    font: bold 5em/1.5 arial;
    color: @dark-gray;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        font: bold 3em/1.5 arial;
        padding: 0 1em;
    }
}


/* Form */

#demo {
    padding-top: 3.5em;

    .row {
        margin-bottom: 2em;
    }

    input {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid @border;

        &.input-lg {
            height: 4em;
        }
    }

    .input-group {
        .glyphicon {
            top: 0; /*override*/
            &.glyphicon-asterisk {
                color: spin(darken(@background, 10%), -60);
            }
        }

        input {
            border-left: 0;
        }
    }

    .input-group-addon {
        border: 1px solid @border;
    }
}


/* Formatted result */

#formatted {
    &:empty {
        display: none;
    }

    font-size: 3em;
    text-align: center;
    /*.solid-shadow(2px);*/
    border: 1px solid @contrast;
    background-color: @result-bg;
    box-shadow: 0 0 5px @contrast inset;
}


/* Key-value pairs */

#result {
    &:empty {
        display: none;
    }

    border: 1px solid @border;
    background-color: @result-bg;
}

footer {
   

    .copyright {
        color: @dark-gray;
    }
}
